<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
		point="org.eclipse.ui.editors">
	<editor
			name="%editor.name"
			extensions="t, tt2, tmpl, ttmpl"
			icon="icons/sample.gif"
			contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
			class="tteditor.editors.TTEditor"
			id="tteditor.editors.TTEditor">
	</editor>
</extension>

</plugin>
